<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{ site.title }}</title>
	<meta name="viewport" content="width=device-width" />
  <link rel="icon" type="image/png" href="http://unibz.github.io/pattern-library/v6/images/favicon.png">
	<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/style.css" media="all" />
  <script src="https://use.typekit.net/mvo2koo.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
</head>
<body>
	{{ content }}
</body>
</html>